<table id='pws-roles-permissions' border='1' class='nice'>
	<tr>
		<th>Activity</th>
		<th>Org Manager</th>
		<th>Org Auditor</th>
		<th>Org Billing Manager</th>
		<th>Space Manager</th>
		<th>Space Developer</th>
		<th>Space Auditor</th>
	</tr><tr>
		<td>Scope of operation</td> 
		<td>Org</td>
		<td>Org</td>
		<td>Org</td>
		<td>Space</td>
		<td>Space</td>
		<td>Space</td>
	</tr><tr>
		<td>Add and edit users and roles</td>
		<td>&check;</td>
		<td></td>
		<td></td>
		<td>&check;</td>
		<td></td>
		<td></td>
	</tr><tr>
		<td>View users and roles</td>
		<td>&check;</td>
		<td>&check;</td>
		<td>&check;</td>
		<td>&check;</td>
		<td>&check;</td>
		<td>&check;</td>
	</tr><tr>
		<td>Create and assign org quota plans<sup>&#42;</sup></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
	</tr><tr>
		<td>View org quota plans</td>
		<td>&check;</td>
		<td>&check;</td>
		<td>&check;</td>
		<td>&check;</td>
		<td>&check;</td>
		<td>&check;</td>
	</tr><tr>
		<td>Create orgs</td>
		<td>&check;</td>
		<td>&check;</td>
		<td>&check;</td>
		<td>&check;</td>
		<td>&check;</td>
		<td>&check;</td>
	</tr><tr>
		<td>View orgs</td>
		<td>&check;</td>
		<td>&check;</td>
		<td>&check;</td>
		<td>&check;</td>
		<td>&check;</td>
		<td>&check;</td>
	</tr><tr>
		<td>Edit, rename, and delete orgs</td>
		<td>&check;<sup>&#42;&#42;</sup></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
	</tr>
	<tr>
		<td>Create and assign space quota plans</td>
		<td>&check;</td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
	</tr>
	<tr>
		<td>Create spaces</td>
		<td>&check;</td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
	</tr><tr>
		<td>View spaces</td>
		<td>&check;</td>
		<td></td>
		<td></td>
		<td>&check;</td>
		<td></td>
		<td></td>
	</tr><tr>
		<td>Edit spaces</td>
		<td>&check;</td>
		<td></td>
		<td></td>
		<td>&check;</td>
		<td>&check;</td>
		<td></td>
	</tr><tr>
		<td>Delete spaces</td>
		<td>&check;</td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
	</tr><tr>
		<td>Rename spaces</td>
		<td>&check;</td>
		<td></td>
		<td></td>
		<td>&check;</td>
		<td></td>
		<td></td>
	</tr><tr>
		<td>View the status, number of instances, service bindings, and resource use of applications</td>
		<td>&check;</td>
		<td></td>
		<td></td>
		<td>&check;</td>
		<td>&check;</td>
		<td>&check;</td>
	</tr><tr>
		<td>Add private domains</td>
		<td>&check;</td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
	</tr><tr>
		<td>Deploy, run, and manage applications</td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td>&check;</td>
		<td></td>
	</tr><tr>
		<td>Instantiate and bind services to applications</td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td>&check;</td>
		<td></td>
	</tr><tr>
		<td>Associate routes, instance counts, memory allocation, and disk limit of applications</td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td>&check;</td>
		<td></td>
	</tr><tr>
		<td>Rename applications</td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td>&check;</td>
		<td></td>
	</tr><tr>
		<td>Set payment information and org/space spending limit</td>
		<td></td>
		<td></td>
		<td>&check;</td>
		<td></td>
		<td></td>
		<td></td>
	</tr><tr>
		<td>Read invoices and payment history; set invoice notification email addresses</td>
		<td></td>
		<td></td>
		<td>&check;</td>
		<td></td>
		<td></td>
		<td></td>
	</tr>
</table>
<sup>&#42;</sup> Managed by PWS administrators.

<sup>&#42;&#42;</sup>Org Managers can rename their orgs and edit some fields; they cannot delete orgs.
