#### <a id="xfcc_haproxy"></a> Terminate TLS at HAProxy

This option allows you to configure support for the XFCC header while leveraging HAProxy. When selected, HAProxy sets the XFCC header to the contents of the client certificate received in the TLS handshake.

This option requires you to configure the load balancer in front of HAProxy to pass through the TLS handshake to HAProxy through TCP.

To enable this mode:

1. Navigate to the <%= vars.ops_manager %> Installation Dashboard.

1. Click the <%= vars.app_runtime_abbr %> tile.

1. Select **Networking**.

1. Under **TLS termination point**, select **HAProxy**.

HAProxy trusts the Diego intermediate certificate authority. This trust is enabled automatically and permits mutual authentication between apps running on <%= vars.platform_name %>.